/*---------- common ----------*/
@use "functions"as m;

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include m.spc {
    }
}

body {
    max-width: 100%;
}

.flex {
    display: flex;
    margin: 0 auto;
}


.fadeUp {
    animation-name: fadeupanime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .1s;
    opacity: 0;
}
@keyframes fadeupanime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fadeupTrigger {
    opacity: 0;
}