@use "functions" as m;

/*---------- header ----------*/
header {
    img {
        width: 100%;
    }
}

/*---------- body ----------*/
.line_bar {
    display: block;
    margin: 60px auto;
    text-align: center;
    }


#sec1-1,
#sec2-1,
#sec3-1,
#sec4-1,
#sec5-1,
#min-sec1-1,
#min-sec2-1,
#min-sec3-1,
#min-sec4-1,
#min-sec5-1{
    width: 100%;
}

#sec1-2,
#sec2-2,
#sec3-2,
#sec4-2,
#sec5-2,
#sec5-3,
#sec5-5,
#sec5-8 {
    display: block;
    margin: 20px auto;
    max-width: 450px;
}
#min-sec1-2,
#min-sec2-2,
#min-sec3-2,
#min-sec4-2,
#min-sec5-2,
#min-sec5-3,
#min-sec5-5,
#min-sec5-8 {
    display: block;
    margin: 10px auto;
    min-width: 120px;
}

#sec2-4,
#sec3-4{
    display: block;
    margin: 0 auto;
    max-width: 350px;
}
#min-sec2-4,
#min-sec3-4{
    display: block;
    margin: 0 auto;
}

#sec1-3,
#sec1-4,
#sec1-5,
#sec1-6,
#sec2-3,
#sec3-3,
#sec4-3,
#sec5-4  {
    display: block;
    width: 70%;
    margin: 60px auto;
    text-align: center;
}
#min-sec1-3,
#min-sec1-4,
#min-sec1-5,
#min-sec1-6,
#min-sec2-3,
#min-sec3-3,
#min-sec4-3,
#min-sec5-4  {
    display: block;
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

#sec4-4,
#sec4-5,
#sec4-6,
#sec5-9,
#sec5-10,
#sec5-11,
#sec5-12 {
    display: block;
    width: 55%;
    margin: 60px auto;
    text-align: center;
}
#min-sec4-4,
#min-sec4-5,
#min-sec4-6 {
    display: block;
    width: 80%;
    margin: 60px auto;
    text-align: center;
}
#min-sec5-9,
#min-sec5-10,
#min-sec5-11,
#min-sec5-12 {
    display: block;
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

#sec2-5,
#sec2-6,
#sec3-5,
#sec3-6{
    width: 35%;
}
#min-sec2-5,
#min-sec2-6,
#min-sec3-5,
#min-sec3-6{
    width: 80%;
    display: block;
    margin: 10px auto;
}
.illust {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    @include m.spc {
        display: block;
        width: 90%;
    }
}
.schedule {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 70px auto;
    img {
        width: 50%;
        padding: 30px;
        margin: 20px auto;
    }
    @include m.spc {
        display: block;
        width: 90%;
        img {
            width: 100%;
            padding: 5px;
        }
    }
}



div {
    width: 60%;
    margin: 20px auto;
    @include m.spc {
        width: 85%;
    }
    p {
        text-align: left;
        @include m.spc {
            font-size: 12px;
        }
    }
}

/*---------- sec 2  ----------*/
#sec2-1,
#sec6-1,
#footer {
    width: 100%;
}
#min-sec2-1,
#min-sec6-1,
#min-footer {
    width: 100%;
}

.btn {
	position: relative;
	max-width: 380px;
	height: 100px;
	margin: 0 auto;
	display: block;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
}
.btn img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
  display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.btn:hover img:nth-of-type(2) {
    -webkit-transform: translate(-50%, -50%) scale(1.15) !important;
      transform: translate(-50%, -50%) scale(1.15) !important;
    opacity: 0;
}

 /* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 430px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}